<%- include('../../partials/header.ejs') %>
<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->

  <%- include('../../partials/sidebar.ejs') %>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->

      <%- include('../../partials/navbar.ejs') %>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <%- include('../../partials/message.ejs') %>
        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Order</h1>
        <!-- Akhir Heading -->

        <!-- Table -->
        <%- include('listOrder.ejs') %>
        <!-- AkhirTable -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->

    <%- include('../../partials/footer.ejs') %>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Select "Logout" below if you are ready to end your current session.
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Cancel
        </button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>

<%- include('modalApproveOrder.ejs'); %>
<%- include('modalDetailOrder.ejs'); %>
<%- include('../../partials/js.ejs'); %>

<script>
  const viewDetailButtons = document.querySelectorAll('.button-detail');

  // Ketika salah satu tombol ditekan
  viewDetailButtons.forEach(button => {
    button.addEventListener('click', () => {
      // Ambil data order dari atribut data pada tombol
      const order = JSON.parse(button.getAttribute('data-order'));
      const merchant = JSON.parse(button.getAttribute('data-merchant'));
      if (order.status == 'waiting') {
        console.log('details', order.details);

        $("#orderApproveModal").modal("show");

        // Buat string HTML untuk tabel detail pesanan
        let modalBody = `
        <table class="table align-middle table-nowrap table-centered mb-0">
          <thead>
            <tr>
              <th>No.</th>
              <th>Item</th>
              <th>Notes</th>
              <th>Price</th>
              <th>Quantity</th>
              <th class="text-end">Total</th>
            </tr>
          </thead>
          <tbody>`;

        // Isi tabel dengan detail pesanan
        order.details.forEach((detail, index) => {
          modalBody += `
            <tr>
              <td>${index + 1}</td>
              <td>${detail.product.name}</td>
              <td>${detail.notes || "-"}</td>
              <td>${detail.product.price  }</td>
              <td>${detail.qty}</td>
              <td class="text-right">${detail.subtotal}</td>
            </tr>`;
        });

        // approve
        document.getElementById('approve-merchant-name').innerText = merchant.name;
        document.getElementById('approve-username').innerText = order.user.username;
        document.getElementById('approve-phone').innerText = order.user.phone;
        document.getElementById('approve-cashier').innerText = order.served_by;
        document.getElementById('approve-trx-code').innerText = order.trx_code;
        document.getElementById('approve-date').innerText = order.created_on;
        document.getElementById('approve-table').innerText = order.table_number;
        document.getElementById('approve-trx').innerHTML = `
        <span class="badge bg-warning font-size-12 ms-2" id="approve-status"></span>`;
        document.getElementById('approve-status').innerText = order.status;
        
        modalBody += `
        <tr>
            <th scope="row" colspan="5" class="text-end">Sub Total</th>
            <td class="text-end">Rp. ${order.subtotal}</td>
        </tr>
        <tr>
            <th scope="row" colspan="5" class="border-0 text-end">
                Taxes</th>
            <td class="border-0 text-end">Rp. ${order.tax}</td>
        </tr>
        <tr>
            <th scope="row" colspan="5" class="border-0 text-end">Total</th>
            <td class="border-0 text-end"><h6 class="m-0 fw-semibold">Rp. ${order.total}</h6></td>
        </tr>
        `

        modalBody += `
        </tbody>
        </table>`;
        
        $("#approve-orderInfo").html(modalBody);

      } if (order.status == 'unpaid') {
        $("#orderModal").modal("show");

          // Buat string HTML untuk tabel detail pesanan
        let modalBody = `
          <table class="table align-middle table-nowrap table-centered mb-0">
            <thead>
              <tr>
                <th>No.</th>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th class="text-end">Total</th>
              </tr>
            </thead>
            <tbody>`;

        // Isi tabel dengan detail pesanan
        order.details.forEach((detail, index) => {
          modalBody += `
            <tr>
              <td>${index + 1}</td>
              <td>${detail.product.name}</td>
              <td>Rp. ${detail.product.price  }</td>
              <td>${detail.qty}</td>
              <td class="text-right">Rp. ${detail.subtotal}</td>
            </tr>`;
        });

        // detail
        document.getElementById('detail-merchant-name').innerText = merchant.name;
        document.getElementById('detail-username').innerText = order.user.username;
        document.getElementById('detail-phone').innerText = order.user.phone;
        document.getElementById('detail-cashier').innerText = order.served_by || '';
        document.getElementById('detail-trx-code').innerText = order.trx_code;
        document.getElementById('detail-date').innerText = order.created_on;
        document.getElementById('detail-table').innerText = order.table_number;
        document.getElementById('detail-trx').innerHTML = `
        <span class="badge bg-primary font-size-12 ms-2" id="detail-status"></span>`;
        document.getElementById('detail-status').innerText = order.status;

        modalBody += `
        <tr>
            <th scope="row" colspan="4" class="text-end">Sub Total</th>
            <td class="text-end">Rp. ${order.subtotal}</td>
        </tr>
        <tr>
            <th scope="row" colspan="4" class="border-0 text-end">
                Taxes</th>
            <td class="border-0 text-end">Rp. ${order.tax}</td>
        </tr>
        <tr>
            <th scope="row" colspan="4" class="border-0 text-end">Total</th>
            <td class="border-0 text-end"><h6 class="m-0 fw-semibold">Rp. ${order.total}</h6></td>
        </tr>
        `

        // Tutup tag tabel
        modalBody += `
            </tbody>
          </table>`;

        $("#orderInfo").html(modalBody);
      }

      }
    )})

  function printReceipt() {
    // Mengatur CSS untuk menyembunyikan elemen-elemen yang tidak ingin dicetak
    const elementsToHide = document.querySelectorAll('body > *:not(#receipt)');
    elementsToHide.forEach((element) => {
      element.style.display = 'none';
    });

    // Memanggil window.print()
    window.print();

    // Setelah pencetakan selesai, kembalikan tampilan asli dengan menampilkan kembali elemen yang disembunyikan
    elementsToHide.forEach((element) => {
      element.style.display = '';
    });
  }
    
</script>
